/* Css for single booking */
.booking-title {
  text-align: left;
  font-size: 16px;
  font-weight: 600;
}
.booking-title:hover {
  color: #21ab64;
}
.place-name {
  color: rgb(136, 136, 136);
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.booking-price {
  font-size: 24px;
  font-weight: bold;
  color: #21ab64;
  margin-bottom: 0;
}
.pending-status {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.approved-status {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #21ab64;
}
