.packages-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.package-sub {
  color: rgb(102, 102, 102);
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}
.package-title {
  text-align: left;
}
.package-title:hover {
  color: #21ab64;
}
.place-name {
  color: rgb(136, 136, 136);
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.package-price {
  font-size: 28px;
  font-weight: bold;
  color: #21ab64;
  margin-bottom: 0;
}
.package-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
