@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600&display=swap");
.App {
  background-color: #f8fbff;
  color: #22343d;
  font-family: "Cabin";
  /* background-color: #F2F8FB; */
}

/* Css for regular Button */
.btn-regular {
  border: 0;
  padding: 7px 15px;
  transition: 0.4s;
  border-radius: 20px;
  color: #fff;
  background-color: #1e5bdf;
  box-shadow: 0 0 0 0.1rem rgba(60, 127, 153, 0.5);
}
.btn-regular::content {
  text-shadow: 0 0 0.1rem rgb(0, 10, 14);
}
.btn-regular:hover {
  background-color: #3978ff;
}
.regular-subtitle {
  font-size: 16px;
  font-weight: 500;
}

.regular-title {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.regular-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #396fe0;
  bottom: 0;
  left: calc(50% - 25px);
}

.regular-text {
  font-size: 16px;
  font-weight: 400;
}
